
*{
  padding: 0;
  margin: 0;
}
header{
  top: 0;
  height: 35px;
  position: fixed;
  display: flex;
}
.main-container{
  background-color: #ccc;
  width: 100%;
  max-width: 1280px;
  /* margin-top: 50px; */
  margin: 0 auto;
}
.main-container div{
  padding: 50px 25px;
  height: 500px;
}